
*.pyc
*.ipynb
*.pyc
*.pkl
*.pyc
*.err
*.out
.DS_Store


experiments/__pycache__/*
.DS_Store
__pycache__/
logs/*
log_dir/*
experiments/archive/logs/*
experiments/results/*
experiments/experiments/model_weights/*
notebooks/*
experiments/dataset/*
